#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw root
# System services
services --enabled="chronyd"
# System timezone
timezone America/Los_Angeles --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
# User account
user --name=vagrant --password=vagrant
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="ext4" --ondisk=sda --size=500
part swap --fstype="swap" --ondisk=sda --size=2048
part / --fstype="xfs" --ondisk=sda --size=0 --grow

reboot

%packages
@core
chrony
kexec-tools
wget
vim
bzip2
gcc
kernel-devel

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

# after installation, create necessary things
%post --interpreter=/bin/bash
# show output
exec < /dev/tty3 > /dev/tty3
chvt 3
echo
echo "################################"
echo "# Running Post Configuration   #"
echo "################################"
# install default vagrant key
set -ex
mkdir /home/vagrant/.ssh
wget -O /home/vagrant/.ssh/authorized_keys 'https://github.com/mitchellh/vagrant/raw/master/keys/vagrant.pub'
chown -R vagrant:vagrant /home/vagrant/.ssh
chmod 0700 /home/vagrant/.ssh
chmod 0600 /home/vagrant/.ssh/authorized_keys
restorecon -r /home/vagrant/.ssh
# passwordless sudo
echo '%vagrant ALL=(ALL) NOPASSWD: ALL' > /etc/sudoers.d/vagrant
# disable requiretty
sed -i.bak -r "s/.*(Defaults.*requiretty)$/#\1/" /etc/sudoers
# ok
ls /tmp
echo 'All Clear!' && sleep 10
%end
